certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
cryptography==46.0.5
dotenv==0.9.9
idna==3.11
oracledb==3.4.2
pycparser==3.0
python-dotenv==1.2.2
requests==2.32.5
scheduler==0.8.11
typeguard==4.5.1
typing_extensions==4.15.0
urllib3==2.6.3
